name: Build & Publish

on:
  push:
    tags:
      - v*

jobs:
  run-publish-workflow:
    name: Run `publish` workflow
    uses: ./.github/workflows/libpublish.yml
    permissions:
      packages: write
    with:
      image-namespace: dafyddj
      image-repo: base-docker-build
      labels: org.opencontainers.image.authors=AN Author <author@example.org>
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}
